<mat-grid-list cols="2" rowHeight="1:1">
    <mat-grid-tile>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Player #1 Gameboard</mat-card-title>
                <mat-card-subtitle>player:</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content (contextmenu)="isVertical=!isVertical">
                <!-- <mat-spinner></mat-spinner> -->
                <app-mesh id="player01" #player1 [width]="width" [height]="height" [show]="true">
                </app-mesh>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" (click)="isVertical=!isVertical">Change to {{isVertical ?
                    'Vertical': 'Horizontal'}}
                    Orientation</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Player #2 Gameboard</mat-card-title>
                <mat-card-subtitle>WAITING_FOR_PLAYER</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <app-mesh id="player02" #player2 [width]="width" [height]="height" [show]="true">
                </app-mesh>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary">Invite a player</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>



<div class="gameboard-metadata">
    <pre>{{battleState$ | async | json}}</pre>
</div>