<div class="mesh">
    <div class="mesh-row" *ngFor="let column of _width">
        <div class="mesh-col" *ngFor="let row of _height">
            <app-cell
                [id]="'cell:'+row+','+column"
                [ngClasses]="meshHandler.classesHandler([column, row])"
                (mouseenter)="meshHandler.mouseenterHandler([column, row])" 
                (mouseleave)="meshHandler.mouseleaveHandler([column, row])"
                (click)="meshHandler.clickHandler([column, row])">

                <span *ngIf="showPosition">
                    <pre>{{column}},{{row}}</pre>
                </span>
            </app-cell>
        </div> 
    </div>
</div>