<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button *ngIf="auth.user | async as user">
            <mat-icon (click)="drawer.toggle()">menu</mat-icon>
        </button>
        <span>Firebase Battle Game</span>
        <span class="example-spacer"></span>
    </mat-toolbar-row>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <button mat-raised-button color="accent">LogOut</button>
    </mat-drawer>
    <div class="example-sidenav-content">
        <router-outlet></router-outlet>
    </div>
</mat-drawer-container>

